# Rust artifacts
target/
*/target/

# Python VEnv
.venv/
*/.venv/
venv/
*/venv/

# Node/NPM modules
node_modules/
*/node_modules/

# TypeScript to ECMAScript compiled modules
dist/
*/dist/

# Runtime data
data/
logs/
*.db
*.db-wal
*.db-shm

# Secrets
.env
.env.local
.env.production

# Agents Setup
.agents/
*/.agents/

# Embedded Git repositories
.git/
*/.git/

log/
*pwd
*seed

# Visual Studio Code
.vscode/
*/.vscode/
.run/
*/.run/

# JetBrains IDEs
.idea/
*/.idea/
.run/
*/.run/

# Editor backup files
*~

# macOS
.DS_Store

